$card-size: 349px;

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        position: relative;
        width: var($card-size);
        height: var($card-size);
        z-index: 1;

    }

    .cards-align {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        text-align: center;
        gap: 30px;

        .black-opacity {
            position: relative;
            z-index: 2;
            background-color: #000000;
            height: var(--card-size);
            width: var(--card-size);

            .image-logo {
                position: absolute;
                z-index: 3;
                width: 120px;
                height: 81px;
                align-self: center;
                top: 40%;
                left: 35%;
            }
        }
        .button {
            button {}
        }
    }
}

